.App-Header{
    height: 7vh;
    width : 30vw;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1d2025;
    color: #fff;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    left: 50%;
    transform: translateX(-50%);
}



@media (max-width: 768px) {
    .App-Header{
        /*position: fixed;*/
        width : 100vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #1D2025;
        border-top: 1px solid #333;


        left: 50%;
        transform: translateX(-50%);
    }
}